---
- name: deploy gtfs-rt-rater on EC2
  hosts: all
  remote_user: ubuntu
  become_user: ubuntu
  tasks:
    - name: get latest github repo
      git:
        repo: https://github.com/ankoure/gtfs_rt_rater.git
        dest: /home/ubuntu/gtfs_rt_rater
        version: master
        force: yes

    - name: Install the Datadog Agent
      become: yes
      become_user: root
      import_role:
        name: datadog.dd.agent

    - name: copy env file
      copy:
        src: .env
        dest: /home/ubuntu/gtfs_rt_rater/.env

    - name: copy systemd service file
      become: yes
      become_user: root
      template:
        src: systemd.conf
        dest: /etc/systemd/system/gtfs-rt-rater.service

    - name: install build dependencies
      become: yes
      become_user: root
      apt:
        name:
          - build-essential
          - pkg-config
          - libssl-dev
          - curl
        state: latest

    - name: check if rustup is installed
      stat:
        path: /home/ubuntu/.cargo/bin/rustup
      register: rustup_installed

    - name: install rustup
      shell: curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- -y
      when: not rustup_installed.stat.exists

    - name: update rust toolchain
      shell: |
        source $HOME/.cargo/env
        rustup update stable
        rustup default stable

    - name: build rust application
      shell: |
        source $HOME/.cargo/env
        cargo build --release
      args:
        chdir: /home/ubuntu/gtfs_rt_rater

    - name: Make sure a service unit is running and enabled
      become: yes
      become_user: root
      ansible.builtin.systemd_service:
        state: started
        name: gtfs-rt-rater
        enabled: true

    - name: Restart service
      become: yes
      become_user: root
      ansible.builtin.systemd_service:
        state: restarted
        daemon_reload: true
        name: gtfs-rt-rater

  vars:
    datadog_api_key: "{{ lookup('env', 'DD_API_KEY') }}"
    datadog_site: "datadoghq.com"
    git_sha: "{{ lookup('env', 'GIT_SHA') }}"
    datadog_config:
      tags:
        - "git.repository_url:github.com/ankoure/gtfs_rt_rater"
        - "git.commit.sha:{{ lookup('env', 'GIT_SHA') }}"
        - "version:{{ lookup('env', 'GIT_SHA') }}"
      apm_config:
        enabled: true
      process_config:
        enabled: "true" # type: string
      logs_enabled: true
    network_config:
      enabled: true
    system_probe_config:
      enable_oom_kill: true
    datadog_checks:
      systemd:
        init_config:
        instances:
          - unit_names:
              - gtfs-rt-rater.service